# Database Configuration
DATABASE_URL=jdbc:postgresql://ep-little-rain-anufkqgy.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require
DATABASE_USERNAME=neondb_owner
DATABASE_PASSWORD=npg_8msaqdTNXE4r

# JWT Configuration
JWT_SECRET=mySecretKey123456789012345678901234567890
JWT_EXPIRATION_MS=86400000

# Server Configuration
SERVER_PORT=8080
